html
    head
        title Nodey node authy auth
        link(href='/static/css/bootstrap.min.css', rel='stylesheet')
        link(href='/static/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        style.
            body 
            {
                padding-top:80px;
            }
    body
        .container
            .jumbotron.text-center
                h1 
                    span.fa.fa-lock
                    |Node Authentication
                p Login or Register with:
                //- a(href="/login").btn.btn-default
                //-     span.fa.fa-user
                //-     |Local Login
                //- a(href="/signup").btn.btn-default
                //-     span.fa.fa-user
                //-     |Local Signup
                a(href='/auth/facebook').btn.btn-primary
                    span.fa.fa-facebook
                    |Facebook
                a(href='/auth/twitter').btn.bin-info
                    span.fa.fa-twitter
                    |Twitter
                    
